Others/
COPY BEFORE UPDATE/
node_modules/
gzip-1.12/
css/bootstrap.css
css/style.css
js/blocs.js
js/bootstrap.js
js/formHandler.js
js/gmaps.js
js/jqBootstrapValidation.js
js/jquery-2.1.0.js
js/jquery.touchSwipe.js
